<section id=order-<%= @order.id %>>
<h1>Order #<%= @order.id %></h1>
<p>Order Created: <%= @order.created_at %></p>
<p>Order Updated: <%= @order.updated_at %></p>
<p>Order Status: <%= @order.status %></p>
</section>
<% @order.items.each do |item| %>
  <section id='item-<%= item.id%>'>
    <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
    <p>Description: <%= item.description %></p>
    <%= image_tag(item.image) %>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Quantity: <%= @order.count_of(item.id) %></p>
    <p>Subtotal: <%= number_to_currency(@order.subtotal(item.id)) %></p>
  </section>
<% end %>

<section id="totals">
  <h3>Total Items: <%= @order.num_items %></h3>
  <h3>Grand Total: <%= number_to_currency(@order.grand_total) %></h3>
</section>
