<%= form_for @user, url: path do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :city %>
  <%= f.text_field :city, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :state %>
  <%= f.collection_select :state, User::STATES, :to_s, :to_s, :include_blank => true, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :zip %>
  <%= f.text_field :zip, class:"form-control" %>
</div>
<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class:"form-control" %>
</div>
<% if @user.id == nil %>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :confirm_password %>
    <%= f.password_field :confirm_password, class:"form-control" %>
  </div>
<% end %>
<% if current_admin? %>
  <%= f.label :role %>
  <%= f.collection_select :role, User::ROLES, :to_s, :to_s, class:"form-control" %>
<% end %>

<%= f.submit button, class:"btn btn-primary" %>
<% end %>
