<% @user.orders.each do |order| %>
  <section id="order-<%= order.id %>">
    <h2><%= link_to "Order ##{order.id}", profile_order_path(order) %></h2>
    <p>Total: <%= number_to_currency(order.grand_total) %></p>
    <p>Number of Items: <%= order.num_items %></p>
    <p>Status: <%= order.status %></p>
    <p>Date Ordered: <%= order.created_at %></p>
    <p>Last Updated: <%= order.updated_at %></p>
  </section>
<% end %>
