<% @merchant.items.each do |item| %>
  <ul id="item-<%= item.id %>">
    <li><%= image_tag(item.image, alt: "Picture of #{item.name}") %></li>
    <li>Name: <%= link_to "#{item.name}", item_path(item)%></li>
    <li>Description: <%= item.description %></li>
    <li>Price: <%= number_to_currency(item.price) %></li>
    <li>Inventory: <%= item.inventory %></li>

    <% if item.active %>
      <li><%= button_to "Disable Item", dashboard_items_deactivate_path(item_id: item.id) %></li>
    <% else %>
      <li><%= button_to "Enable Item", dashboard_items_activate_path(item_id: item.id) %></li>
    <% end %>
    <li><%= button_to "Update Item", edit_item_path(id: item.id), method: :get %></li>
    <% if item.order_items.empty? %>
      <li><%= button_to "Delete Item", { id: item.id, action: "destroy" }, method: :delete %></li>
    <% end %>
  </ul>
<% end %>

<%= button_to "New Item", new_item_path, method: :get %>
