<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<section class="details-card">
  <div class="container-fluid">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4 p-3">
          <div class="card-content" id= "item-<%= item.id %>">
            <div class="card-img">
              <%= link_to image_tag(item.image, alt: "#{item.image} image"), item_path(item), id: "image-#{item.id}" %>
              <div class="card-header">
                <h1 class="card-title text-center"><%= link_to (item.name), item_path(item), {:style=>"color:black;"} %></h1>
              </div>
            </div>
            <div class="card-desc card-footer">
              <p><%= item.description %></p>
              <p>Price:
                <%= number_to_currency(item.price) %>
                <p>Sold by:
                  <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %></p>
                <p>Status:
                  <%= item.active ? "Active" : "Inactive" %></p>
                <p>Inventory:
                  <%= item.inventory %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <% unless @merchant %>
    <section id='top-five'>
      <h2>Most Popular Items:</h2>
      <% @top_items.each do |item| %>
        <h3>Item:
          <%= item.name %></h3>
        <h4>Quantity Ordered:
          <%= item.qty %></h4>
      <% end %>
    </section>

    <section id='bottom-five'>
      <h2>Least Popular Items:</h2>
      <% @bottom_items.each do |item| %>
        <h3>Item:
          <%= item.name %></h3>
        <h4>Quantity Ordered:
          <%= item.qty %></h4>
      <% end %>
    </section>
  <% end %>
