
<section class="details-card">
  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 p-3">
          <div class="card-content" id= "item-<%= @item.id %>">
            <div class="card-img">
              <img src="<%= @item.image %>" alt="">
              <div class="card-header">
                <h1 class="card-title text-center"><%= link_to (@item.name), item_path(@item), {:style=>"color:black;"} %></h1>
              </div>
            </div>
            <div class="card-desc card-footer">
              <p><%= @item.description %></p>
              <p>Price:
                <%= number_to_currency(@item.price) %>
                <p>Sold by:
                  <%= link_to @item.merchant.name, "/merchants/#{@item.merchant_id}" %></p>
                <p>Status:
                  <%= @item.active ? "Active" : "Inactive" %></p>
                <p>Inventory:
                  <%= @item.inventory %></p>
              </div>
                <%= button_to('Add to Cart', ("/cart/#{@item.id}"), :class => 'btn btn-dark btn-lg btn-block') %>
            </div>
          </div>
      </div>
</section>


<section class='reviews'>
  <h2>Reviews</h2>
  <% if @item.reviews.empty? %>
    <p>No Reviews Yet!</p>
  <% else %>
    <h3>Average Rating: <%= @item.average_rating.round(2) %></h3>
    <section id='top-three-reviews'>
      <h3>Top 3 Reviews</h3>
      <ul>
        <% @item.sorted_reviews(3, :desc).each do |review| %>
          <li><%= review.title %></li>
        <% end %>
      </ul>
    </section>
    <section id='bottom-three-reviews'>
      <h3>Bottom 3 Reviews</h3>
      <ul>
        <% @item.sorted_reviews(3, :asc).each do |review| %>
          <li><%= review.title %></li>
        <% end %>
      </ul>
    </section>
    <% @item.reviews.each do |review| %>
      <section id='review-<%= review.id %>'>
        <h3><%= review.title %></h3>
        <p><%= review.description %></p>
        <p>Rating: <%= review.rating %></p>
        <%= button_to 'Edit', edit_review_path(review), method: :get %>
        <%= button_to 'Delete', review_path(review), method: :delete %>
      </section>
    <% end %>
  <% end %>
  <%= button_to 'Add Review', new_item_review_path(@item), method: :get %>
</section>
