<ul class="navbar-nav ml-auto">
  <% unless current_admin? %>
    <li class="nav-item">
      <a class="nav-link" href="/cart">Cart: <%= cart.count %></a>
    </li>
  <% end %>
  <% if current_user %>
    <span class="navbar-brand mb-0 h1">Welcome, <%= current_user.name %></span>
    <% if current_user? || current_employee? || current_merchant? %>
      <li class="nav-item">
        <%= link_to 'Profile', profile_path, class:"nav-link" %>
      </li>
    <% end %>
    <% if current_merchant? || current_employee? %>
      <li class="nav-item">
        <%= link_to 'Dashboard', merchant_dashboard_path, class:"nav-link" %>
      </li>
    <% elsif current_admin? %>
      <li class="nav-item">
        <%= link_to 'Dashboard', admin_dashboard_path, class:"nav-link" %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to 'Logout', login_path, method: :delete, class:"nav-link" %>
    </li>
  <% else %>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
  <% end %>
</ul>
