<!DOCTYPE html>
<html>
  <head>
    <title>MonsterShop</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand mb-0 h1" href="/">MonsterShop</a>
      <%= render '/layouts/nav_left' %>
      <%= render '/layouts/nav_right' %>
    </nav>

    <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
                <%= value %>
          </div>
    <% end %>

    <%= yield %>
  </body>
</html>
